
      body {
        background-color: #adeecf;
      }

      td {
        background-color: #e8efeb;
      }

      img {
        border-radius: 2%;
      }

      a {
        color: #295939;
      }

      a:hover {
        color: #e9b0df;
      }

      .pinkLine {
        height: 3px;
        background-color: #e9b0df;
        border-style: none;
        width: 100%
      }

      .blackLine {
        height: 5px;
        background-color: #295939;
        border-style: none;
        width: 100%
      }

      #dottedSeg {
        border-style: none;
        border-top-style: dotted;
        border-color: #e8efeb;
        border-width: 6px;
        width: 5%;
      }

      h1 {
        text-align: center;
        color: #295939;
      }

      h3 {
        text-align: left;
        color: #295939;
      }

      th {
        color: #295939;
      }
